<!-- ##### Gallery Section Start ##### -->
<section class="gallery-area py-5">
  <div class="container">
    <div class="row">
      <div class="widget-title text-center col-12 mb-4">
        <h3>Gallery Peek</h3>
      </div>
    </div>

    <div class="row g-4 justify-content-center gallery-list">
      <!-- Image 1 -->
      <div class="col-6 col-md-4 col-lg-3">
        <a href="https://images.unsplash.com/photo-1588072432836-e10032774350" 
           class="glightbox" data-gallery="school-gallery" title="Modern Classroom">
          <div class="gallery-img-div thumbnail img-1"></div>
        </a>
      </div>

      <!-- Image 2 -->
      <div class="col-6 col-md-4 col-lg-3">
        <a href="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c" 
           class="glightbox" data-gallery="school-gallery" title="Science Laboratory">
          <div class="gallery-img-div thumbnail img-2"></div>
        </a>
      </div>

      <!-- Image 3 -->
      <div class="col-6 col-md-4 col-lg-3">
        <a href="https://images.unsplash.com/photo-1555421689-491a97ff2040" 
           class="glightbox" data-gallery="school-gallery" title="Digital Learning">
          <div class="gallery-img-div thumbnail img-3"></div>
        </a>
      </div>

      <!-- Image 4 -->
      <div class="col-6 col-md-4 col-lg-3">
        <a href="https://images.unsplash.com/photo-1522202176988-66273c2fd55f" 
           class="glightbox" data-gallery="school-gallery" title="Students Collaboration">
          <div class="gallery-img-div thumbnail img-4"></div>
        </a>
      </div>
    </div>

    <div class="text-center mt-4">
      <a href="#" class="btn btn-primary btn-sm px-4 gallery-btn">More Photos...</a>
    </div>
  </div>
</section>
<!-- ##### Gallery Section End ##### -->
